In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver = webdriver.Chrome()

The chromedriver version (120.0.6099.109) detected in PATH at /usr/local/bin/chromedriver might not be compatible with the detected chrome version (121.0.6167.85); currently, chromedriver 121.0.6167.85 is recommended for chrome 121.*, so it is advised to delete the driver in PATH and retry

In [3]:
url = 'http://books.toscrape.com/index.html '

In [4]:
driver.get(url)

In [40]:
# an empty dictionary
df_dict = {}

In [41]:
links = ['//*[@id="default"]/div/div/div/aside/div[2]/ul/li/ul/li[1]/a',
         '//*[@id="default"]/div/div/div/aside/div[2]/ul/li/ul/li[21]/a',
         '//*[@id="default"]/div/div/div/aside/div[2]/ul/li/ul/li[9]/a',
        '//*[@id="default"]/div/div/div/aside/div[2]/ul/li/ul/li[13]/a',
        '//*[@id="default"]/div/div/div/aside/div[2]/ul/li/ul/li[24]/a']

In [47]:
for link in links:
    # Find the element using XPath (you can adjust the XPath as needed)
    element = driver.find_element(By.XPATH, link)

    # Click on the element to navigate to the specified link
    element.click()
    
    # Find all elements with the class "star-rating"
    ratings = []
    rating_elements = driver.find_elements('css selector', 'p.star-rating')

    # Loop through each element and extract the text content
    for rating_element in rating_elements:
        # Extract the class name of the rating element
        class_name = rating_element.get_attribute('class')

        # Extract the numeric rating from the class name (assuming it's the last character)
        rating = class_name.split()[-1]
        ratings.append(rating)
    print(ratings)
    
    # Find all anchor elements with a specific title attribute
    book_names = []
    book_elements = driver.find_elements('css selector', 'a[title]')

    # Loop through each element and extract the book name
    for book_element in book_elements:
        book_name = book_element.get_attribute('title')
        book_names.append(book_name)
        
    # Find all elements with the class "price_color"
    prices = []
    price_elements = driver.find_elements('css selector', 'p.price_color')

    # Loop through each element and extract the price
    for price_element in price_elements:
        price = price_element.text.strip()
        prices.append(price)
        
    # Locate the h1 element and extract its text content
    h1_element = driver.find_element(By.TAG_NAME, 'h1')
    text_content = h1_element.text
        
    if len(ratings) == len(book_names) == len(prices):
                import pandas as pd
                df = pd.DataFrame({
                    "name":book_name,
                    "category":text_content,
                    "rating":ratings,
                    "prices": prices,
                })

    # Store the DataFrame in a dictionary with a key based on year and month
    df_key = f"df_{text_content}"
    df_dict[df_key] = df

['Two', 'Four', 'Three', 'Two', 'Three', 'Two', 'One', 'Four', 'One', 'Three', 'Five']
['Four', 'Five', 'Four', 'One', 'One', 'One', 'Four', 'Three', 'Two', 'Four', 'Five', 'Two', 'Four', 'One']
['One', 'Five', 'Five', 'Five', 'Three', 'Two', 'Four', 'Five', 'Five', 'Five', 'Four', 'Three', 'Three', 'Three', 'Four', 'One', 'Three', 'One', 'Four', 'Three']
['Five', 'Three', 'Two', 'One', 'Four', 'Five', 'Two', 'One', 'Three', 'Five', 'Five', 'Two', 'Three']
['Four', 'Three', 'Four', 'Three', 'Four', 'Four', 'Two', 'Five']

In [48]:
# Concatenate DataFrames from the dictionary vertically
combined_df = pd.concat(df_dict.values(), ignore_index=True)
print(combined_df)

                                  name category rating  prices
0   1,000 Places to See Before You Die   Travel    Two  £45.17
1   1,000 Places to See Before You Die   Travel   Four  £49.43
2   1,000 Places to See Before You Die   Travel  Three  £48.87
3   1,000 Places to See Before You Die   Travel    Two  £36.94
4   1,000 Places to See Before You Die   Travel  Three  £37.33
..                                 ...      ...    ...     ...
61                      Ways of Seeing      Art  Three  £43.02
62                      Ways of Seeing      Art   Four  £10.29
63                      Ways of Seeing      Art   Four  £41.14
64                      Ways of Seeing      Art    Two  £32.34
65                      Ways of Seeing      Art   Five  £39.51

[66 rows x 4 columns]

In [51]:
combined_df.head()

                                 name category rating  prices
0  1,000 Places to See Before You Die   Travel    Two  £45.17
1  1,000 Places to See Before You Die   Travel   Four  £49.43
2  1,000 Places to See Before You Die   Travel  Three  £48.87
3  1,000 Places to See Before You Die   Travel    Two  £36.94
4  1,000 Places to See Before You Die   Travel  Three  £37.33

In [52]:
combined_df.tail()

              name category rating  prices
61  Ways of Seeing      Art  Three  £43.02
62  Ways of Seeing      Art   Four  £10.29
63  Ways of Seeing      Art   Four  £41.14
64  Ways of Seeing      Art    Two  £32.34
65  Ways of Seeing      Art   Five  £39.51

In [49]:
combined_df.to_csv("emma.csv")